* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 100;
}


button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 70;
    
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 70;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}